<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <title>Wedding Invitation | Zhariff & Hanis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link href="css/emoji.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script src="js/angular/angular.min.js"></script>
    <link rel="stylesheet" href="css/action.min.css">
    <script type="text/javascript" src="js/app.min.js"></script>
  </head>
  <body ng-controller="appCtrl" click-capture>
      <div class="card wedding-card">
        <div class="md1">
    <img src="images/zhariffxhanis.jpg" width="100%">
    </div>
   <div class="carousel carousel-slider">
      <a class="carousel-item" href=""><img src="images/mexhanis.jpg"></a>
      <a class="carousel-item" href=""><img src="images/hanisxmom.jpg"></a>
      <a class="carousel-item" href=""><img src="images/me.jpg"></a>
      <a class="carousel-item" href=""><img src="images/hanis.jpg"></a>
    </div>
        <div class="md1"><img src="images/ucapan.jpg" width="100%"/></div>
          <div class="md2">
          <form class="col s12" ng-submit="submit()" role='form' name='blgoPost' novalidate="">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">account_circle</i>
                <input placeholder="Nama" id="icon_prefix" type="text" class="validate" ng-model="name" required="">
                <label for="icon_prefix">Nama</label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea placeholder="Berikan Ucapan" id="icon_prefix2" class="materialize-textarea validate" ng-model="comment" required=""></textarea>
                <label for="icon_prefix2">Ucapan</label>
              </div>
            <button type="submit" id="submit" class="waves-effect waves-light btn-large" onclick="M.toast({html: 'Ucapan Dihantar!'})" ng-disabled="blgoPost.$invalid"><i class="material-icons left">cloud</i>Hantar</button>
            </div>
         </form>
      </div>
        <div class="row">
          <div class="col s12 m12">
            <div class="card-panel teal scale-transition" ng-repeat="comm in comments | orderBy:sortType:sortReverse">
              <span class="white-text">
                <span class="title">{{comm.name}}</span> <span class="date">{{comm.time | toYear | date:"mediumDate"}}</span>
              <p style="text-align: justify;">{{comm.comment}}</p>
              </span>
            </div>
          </div>
        </div>

        <div class="md1">
          <img src="images/footer.jpg" width="100%">
        </div>
    <div class="sticky-action">
            <div class="row">
                <div class="col s4 each-action" id="calendar" ng-click="activeCalender()">
                    <div class="action" id="calendar">
                        <i class="material-icons" style="color:wheat;">insert_invitation</i>
                        <span class="text">Add to Calendar</span>
                    </div>
                </div>
                <div class="col s4 each-action" data-type="location" ng-click="activeLocations()">
                    <div class="action" id="location">
                        <i class="material-icons" style="color:wheat;">location_on</i>
                        <span class="text">Drive to Location</span>
                    </div>
                </div>
                <div class="col s4 each-action" data-type="chat" ng-click="activePhone()">
                    <div class="action" id="call">
                        <i class="material-icons" style="color:wheat;">local_phone</i>
                        <span class="text">Call/Message</span>
                    </div>
                </div>
            </div>
       </div>
    <div class="action-type" ng-class="{'active': calender}" id="action-calender">
           <ul>
                <li>
                <a class="ga-calendar-ical" target="_blank" href="Walimatul_Urus_Hanis_Zhariff.ics">
                      <img src="images/apple.png">
                      <span class="text">Apple Calendar</span>
                  </a>
                </li>
                <li>
                <a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=NGs3MDVzbDZmMGR2aTN0MjYyamdmNjU4b2cgYWhtYWR6aGFyaWZmZkBt&amp;tmsrc=ahmadzharifff%40gmail.com">
                      <img src="images/google.png">
                      <span class="text">Google Calendar</span>
                  </a>
                </li>
            </ul>
        </div>

        <div class="action-type" ng-class="{'active': locations}" id="action-locations">
           <ul>
                <li>
                    <a target="_blank" href="https://www.waze.com/ul?ll=4.84573884%2C100.72135391&navigate=yes&zoom=17">
                        <img src="images/waze.png">
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://goo.gl/maps/X4gcpT5wxWG2">
                        <img src="images/google_map.png">
                    </a>
                </li>
            </ul>
        </div>

        <div class="action-type" ng-class="{'active': phone}" id="action-phone">
           <ul>
                <li>
                <a class="ga-contact-whatsapp" href="https://api.whatsapp.com/send?phone=60136706454">
                      <img class="whatsapp" src="images/whatsapp.png">
                      <span class="text">Hanis</span>
                  </a>
                </li>
                <li>
                <a class="ga-contact-whatsapp" href="https://api.whatsapp.com/send?phone=601173119058">
                      <img class="whatsapp" src="images/whatsapp.png">
                      <span class="text">Zharif</span>
                  </a>
                </li>
            </ul>
        </div>
  </body>
</html>
