body{
				background-color: #d8d8d8;
			}
		
			.card{
				border: 0;
				border-radius: 0;
			}
			
			.card-body {
				padding: 0;
				box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
			}
			
			.col-sm-4{
				padding-right: 0;
				padding-left: 0;
			}
			
			.divOne {
				font-family: 'Playfair Display', serif;
				text-align:center;
				background-repeat: no-repeat; 
				background-size: cover; 
				background-position: center;
			}
			
			.textBox{
				background-color: #ffffff6e; 
				border: 3px solid #e6a74545;
			}
			
			.wedding-card {
				max-width: 400px;
				margin: 0 auto 0;
				padding-bottom: 70px;
				box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
			}
			
			.footer {
				box-shadow: 0 -1px 4px rgba(0,0,0,.23);
				background-color: #dcbd72;
				width: 100%;
				position: fixed;
				bottom: 0;
				margin: 0 auto;
				left: 0;
				right: 0;
				max-width: 400px;
				padding: 5px 0;
				z-index: 10;
				font-weight: 400;
				font-style: normal;
			}

			.col-sm-4{
				width: 33%;
			}
			
			.tableAturcara td{
				height: 55px;
			}
			
			.divTwo{
				color:#000000; 
				padding: 45px 10px; 
				width: 100%; 
				text-align: center; 
				font-family: 'Quicksand', sans-serif;
			}
			
			.fontName{
				font-family: 'Playfair Display', serif; font-style: italic; font-size: 25px; color: #e14672
			}
			
			.divThree{
				background-image: url('../images/wedding4.jpg'); 
				background-repeat: no-repeat; 
				background-size: cover; 
				background-position: 
				center; padding: 45px 5px; 
				font-family: 'Quicksand', sans-serif;
			}
			
			.divFour{
				color:#000000; 
				padding: 45px 10px; 
				width: 100%; 
				font-family: 'Cookie', cursive;
				font-size: 25px;
			}
			
			.divFive{
				color:#000000; 
				padding: 45px 10px; 
				width: 100%; 
				font-family: 'Quicksand', sans-serif;
			}
			
			.footerMenu{
				padding: 7px 0;color: #fff; padding-left: 28px; line-height: 12px;
			}
			
			ul {
				list-style-type: none;
			}
			
			.outer-comment {
				padding: 0px;
				
			}
			
			.piped  {
			  border-left: 1px solid #ccc;
			  padding: 0 10px;
			}
			.piped :first-child {
			  border-left: none;
			  padding-left: 0;
			}
			.text-piped :after {
			  content: "|";
			  margin: 0 10px;
			}
			.text-piped :last-child:after {
			  content: '';
			  margin: 0 10px;
			}
.image{
position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
    display: block;
    background: rgba(0, 0, 0, .6);
}
